@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// Custom Styles
// Vendor
@import 'vendor/fontawesome5/scss/fontawesome';
@import 'vendor/fontawesome5/scss/solid';
// @import 'vendor/fontawesome5/scss/regular';

// React Components Override
@import 'components/react-components-override/_react-select';

// Components
@import 'components/_mixins';
@import 'components/_typography';
@import 'components/_color';
@import 'components/_utilities';
@import 'components/_header';
@import 'components/_main-content';
@import 'components/_top-bar';
@import 'components/_badge';
@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_lists';
@import 'components/_callouts';
@import 'components/_panels';
@import 'components/_breadcrumbs';
@import 'components/_pagination';
@import 'components/_tab';
@import 'components/_container';
@import 'components/_media-object';
@import 'components/_select2';
@import 'components/_image';
@import 'components/_tables';
@import 'components/_modals';
@import 'components/_graphs';
@import 'components/_carousel';
@import 'components/_sliders';
@import 'components/_footer';
@import 'components/_overrides';
@import 'components/_accordion';
@import 'components/_offcanvas';
@import 'components/_chat';
@import 'components/_calendar';
@import 'components/_form-builder';
@import 'components/_orbit';
@import 'components/_clinical-pathway';
@import 'components/_pseudo-classes';
@import 'components/_dropdown';
@import 'components/_message';
@import 'components/_media-queries';
@import 'components/_frontend-overrides';
@import 'components/_template';
@import 'components/_task';

.Select-menu-outer {
  position: relative !important;
  z-index: 100;
}

.alertify, .alertify-logs {
  z-index: 9999 !important;
}

.loading-wrapper {
  display: table;
  height: 94%;
  width: 100%;
  table-layout: fixed;
  vertical-align: middle;
  text-align: center;
}

.loading-ripple {
  display: table-cell;
  vertical-align: middle;
  height: 84px;
  width: 84px;
  background: url("https://s3.amazonaws.com/assets.spoke.com/images/ripple.svg") no-repeat center;
}

.loader {
  border: solid 3px #fff;
  border-top: solid 3px #777;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: inline-flex;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}