:root {
  --primary: #000000;
  --secondary: #000000;
  --success: #000000;
  --alert: #000000;
}

.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.success {
  color: var(--success);
}
.alert {
  color: var(--alert);
}
