/**
 * Dedicated rules, imports for spoke
 */

@import "app";

$foundation-palette: (
  // spoke
    primary: #273c4b,
  secondary: #005776,
  success: #1ebe44,
  warning: #d4822d,
  alert: #be1e2b
);
