$zip-chat-user-bg: #f5f7f9;
html {
  background-color: $zip-chat-user-bg;
}
.frontend {
  background-color: $zip-chat-user-bg;
  .chat-input-container {
    position: fixed !important;
  }
  #chat-container {
    overflow: visible !important;
    background-color: $zip-chat-user-bg;
  }
}

@media only screen and (max-width: 769px) {
  .frontend {
    .chat-input-container {
      bottom: 3em !important;
    }
  }
}
