// CSS ARE MOBILE FIRST
.frontend {
  .main-nav-portal {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    border-top: solid 1px darken(#fff, 8%);
    // /* Extra small devices (phones, 600px and down) */
    // @media only screen and (max-width: 600px) {...}

    // /* Small devices (portrait tablets and large phones, 600px and up) */
    // @media only screen and (min-width: 600px) {...}

    // /* Medium devices (landscape tablets, 768px and up) */
    // @media only screen and (min-width: 768px) {...}

    // /* Large devices (laptops/desktops, 992px and up) */
    // @media only screen and (min-width: 992px) {...}

    // /* Extra large devices (large laptops and desktops, 1200px and up) */
    // @media only screen and (min-width: 1200px) {...}

    @media only screen and (min-width: 1025px) {
      top: 0;
      bottom: unset;
      border-top: 0;
      border-bottom: solid 1px darken(#fff, 8%);
    }
  }
  .secondary-nav-portal {
    border-bottom: solid 1px darken(#fff, 8%);
    @media only screen and (min-width: 1025px) {
      border-bottom: 0;
    }
  }
}
