.badge {
	&.alert {
		background-color: $alert-color;
		color: $white;
		border: none;
	}
}

.label {
	vertical-align: middle;
	border-radius: 2px;
	padding: 0.4rem 0.5rem 0.333rem;
	margin: -3px 0 0;
}