.breadcrumbs {
	padding: 1rem 0;
	margin: 1rem 0 0;
	a {
		color: $text-black;
	}
	li {
		font-family: $body-font-family;
		font-size: 0.5625rem;
		font-weight: $global-weight-bold;
		text-transform: uppercase;
		color: rgba($black, $B-hinttext);
		@media only screen and (min-width: 40em) {
			font-size: 0.75rem;
		}
		&:not(:last-child) {
			&:after {
				content: ">";
				color: rgba($black, $B-hinttext);
				top: 0;
			}
		}
	}
}

 .hierarchs {
 	padding: 0;
	margin: 0.25rem 0;
	display: inline-block;
	li {
		color: $text-black;
		display: inline-block;
		font-family: $body-font-family;
		font-size: 1rem;
		font-weight: $global-weight-bold;
		@media only screen and (min-width: 40em) {
			font-size: 1rem;
		}
		&:not(:last-child) {
			color: rgba($black, $B-hinttext);
			&:after {
				content: ">";
				color: rgba($black, $B-hinttext);
				margin: 0 .75rem;
			}
		}
	}
 }