.breadcrumbs {
	padding: 1rem 0;
	margin: 1rem 0;
	a {
		color: $text-black;
	}
	li {
		font-family: $header-font-family;
		font-size: 0.5625rem;
		font-weight: $global-weight-semibold;
		text-transform: none;
		color: rgba($black, $B-hinttext);
		@media only screen and (min-width: 40em) {
			font-size: 0.75rem;
		}
		&:not(:last-child) {
			&:after {
				content: ">";
				color: rgba($black, $B-hinttext);
			}
		}
	}
}