.breadcrumbs {
	border-bottom: 1px solid rgba($black, $B-dividers);
	padding: 1rem 0;
	a {
		color: rgba($black, $B-hinttext);
	}
	li {
		font-family: $header-font-family;
		font-size: 1rem;
		font-weight: 600;
		text-transform: none;
		color: $text-black;
		&:not(:last-child) {
			&:after {
				content: ">";
				color: rgba($black, $B-hinttext);
			}
		}
	}
}