.callout {
	padding: 1.5rem;
	border-radius: 2px;
	// position: relative;
	// z-index: 3;
	&.hi-padded {
		padding: 2rem;
	}
	&.lo-padded {
		padding: 0.875rem;
	}
	&.warning {
		border-color: lighten($warning-color, 25%);
		> * {
			color: darken($warning-color, 5%);
		}
		table {
			border: 1px solid lighten($warning-color, 25%);
			border-radius: 2px;
			thead,
			tbody,
			tfoot {
				background: transparent;
				border: none;
				color: $text-black;
			}
			tbody {
				tr:nth-child(even) {
					background: rgba($warning-color, $B-dividers);
				}
			}
		}
	}
	.page-lead {
		// This should have an inherent bottom margin for treatment packages containers
		margin-top: 0;
	}
	.breadcrumbs {
		margin-top: 0;
		padding-top: 0;
	}
	table {
		margin-bottom: 0;
	}
	> .media-object {
		margin-bottom: 0;
	}
	> * {
		&:first-child {
			.media-object.full-table {
				margin-top: 0;
			}
		}
		&:last-child {
			.label-group {
				margin-bottom: 0;
			}
			.media-object.full-table {
				margin: 0;
			}
		}
	}
	.close {
		&.media {
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
		}
	}
	.talk-bubble {
		&.warning-bg {
			.talktext {
				&:before {
				  	border-color: darken(#FFFFA5, 40%) $white;
				}
			}
		}
	}
	&.fixed-notification {
		position: relative;
		color: $white;
		background-color: $alert-color;
		border-bottom: 1px solid rgba($alert-color, $B-text);
		border-radius: 0;
		border: none;
		width: 100%;
		margin: 0 auto;
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: $white;
			text-decoration: underline;
		}
		.close-button {
			color: rgba($white, $W-hinttext);
			&:hover {
				color: rgba($white, $W-text);
			}
		}
	}
}

.callout-heading {
	margin-bottom: 1rem;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
	.button, .button-group, .button-align {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.callout-body {
	.button, .button-group, .button-align {
		margin-top: 0;
		margin-bottom: 0;
	}
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
}

.callout-function {
	position: absolute;
	content: '';
	bottom: -1.3rem;
	left: 0;
	width: 100%;
	text-align: center;
	.button {
		background-color: $white;
		color: $text-black;
		margin: 0 auto;
		position: relative;
		border: none;
		&:before {
			position: absolute;
			height: 1.3rem;
			content: '';
			width: 101%;
			bottom: 0;
			left: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-top: none;
			border-left: 1px solid rgba(10,16,35,0.25);
			border-right: 1px solid rgba(10,16,35,0.25);
			border-bottom: 1px solid rgba(10,16,35,0.25);
		}
	}
}