.callout {
	padding: 1.5rem 1rem;
	border-radius: 2px;
	&.hi-padded {
		padding: 2rem;
	}
	.page-lead {
		margin-top: 0;
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			color: rgba($black, $B-text);
		}
	}
}

.callout-heading {
	margin-bottom: 1rem;
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
	.button, .button-group, .button-align {
		margin-top: 0;
		margin-bottom: 0;
	}
}