.callout {
	padding: 1.5rem;
	border-radius: 2px;
	position: relative;
	&.hi-padded {
		padding: 2rem;
	}
	&.warning {
		border-color: lighten($warning-color, 15%);
		> * {
			color: darken($warning-color, 5%);
		}
	}
	.page-lead {
		// This should have an inherent bottom margin for treatment packages containers
		margin-top: 0;
	}
	.breadcrumbs {
		margin-top: 0;
		padding-top: 0;
	}
	table {
		margin-bottom: 0;
	}
	> .media-object {
		margin-bottom: 0;
	}
	> * {
		&:last-child {
			.media-object.full-table {
				margin: 0;
			}
		}
	}
	.close {
		&.media {
			position: absolute;
			right: 1.5rem;
			top: 1.5rem;
		}
	}
}

.callout-heading {
	margin-bottom: 1rem;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
	.button, .button-group, .button-align {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.callout-body {
	.button, .button-group, .button-align {
		margin-top: 0;
		margin-bottom: 0;
	}
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $body-font-family;
		line-height: 2rem;
		margin-right: 1rem;
	}
}