.owl-carousel {
	&.small {
		.owl-item {
			> div {
				height: 11rem;
			}
		}
	}
}

.owl-item {
	> div {
		background-color: rgba($black, $B-text);
		height: 22rem;
		position: relative;
		// display: flex;
		// align-items: center;
		// justify-content: center;
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: auto;
		}
	}
}

.owl-theme .owl-controls {
	margin-top: 5px;
	.owl-page {
		span {
			width: 9px;
			height: 9px;
			background: $primary-color;
		}
	}
}