.card {
	display: inline-block;
	width: 100%;
	transition: all 0.5s ease-in-out;
	border: 1px solid rgba($black, $B-dividers); 
	margin: 0 0 2rem;
	background-color: $white;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #F2F5F6;

	// Use this for transition in pseudo-class :hover
	// box-shadow: 1px 5px 10px #E1E1E1;
	// transition: all 0.5s ease;
	&.selected {
		box-shadow: 2px 2px 10px 2px rgba($black, $B-dividers);
	}
}

.card-selected {
	&:active{
		.card-person{
			& > div {
				border: 1px solid #F2F5F6; 
				box-shadow: 5px 5px 7px #F2F5F6;
			}
		}
	}
}

.img-card {
	@extend .card;
	height: auto;
	position: relative;
	transition: all 0.2s ease-in-out;
	&.empty {
		background-color: transparent;
		border-radius: 2px;
		border: 1px dashed rgba($black, $B-dividers);
		.img-card-head {
			padding: 53%;
			background-color: transparent;
			> .text-placeholder {
				position: absolute;
				z-index: 1;
				top: 45%;
				left: 0;
				width: 95%;
				text-align: center;
				color: rgba($black, $B-hinttext);
				font-weight: $global-weight-bold;
			}
		}
	}
	&:hover {
		position: relative;
		// transform: translate(-1px, -1px);
		box-shadow: 2px 2px 10px 2px rgba($black, $B-dividers);
	}
	.img-card-head {
		position: relative;
		// height: 55%;
		padding-bottom: 75%;
		background-color: $text-black;
		overflow: hidden;
		> img {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		.header, .footer {
			position: absolute;
			z-index: 2;
			width: 100%;
			padding: 0.5rem;
			background-color: rgba($black, $B-hinttext);
			.button {
				margin: 0;
			}

		}
		.header {
			top: 0;
			background-color: transparent;
		}
		.footer {
			bottom: 0;
			.label-text {
				color: $white;
				font-size: 0.875rem;
				font-weight: $global-weight-bold;
				text-transform: uppercase;
			}
		}
		.story-card {
			margin-left: -10px;
			padding: 0.5rem 1rem;
			background-color: $primary-color;
			display: inline-block;
			position: relative;
			font-family: $body-font-family;
			&:after {
				position: absolute;
				content: "";
				top: 0;
				right: -15px;
				width: 15px;
				height: 100%;
				border-top: 50px solid $primary-color;
				border-right: 15px solid transparent;
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p {
				font-family: $body-font-family;
				font-size: 87%;
				margin: 0;
				color: $white;
			}
			p small {
				font-size: 60%;
				line-height: 1em;
			}
		}
		.mpirica-graph {
			border: none;
			padding: 55px 15px 15px;
		}
	}
	.img-card-body {
		padding: 1.25rem;
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: $body-font-family;
			margin-bottom: 0;
		}
		p {
			margin-bottom: 0;
			> small {
				color: inherit;
				font-size: 0.875rem;
			}
			&.subheader {
				color: rgba($black, $B-subtext);
			}
		}
		span.h6 {
			display: inline-block;
			margin-top: 0.5rem;
			color: $text-black;
		}
		.button {
			margin: 0;
		}
		a {
			color: $text-black;
		}
		.media-object {
			margin: 0;
			display: table;
			width: 100%;
			table-layout: fixed;
			.media-object-section {
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					line-height: 1.5em;
					margin-bottom: 0;
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					width: 100%;
					// @media only screen and (max-width: 39.9375em) {
					// 	width: 10rem;
					// }
					// @media only screen and (min-width: 40em) {
					// 	width: 40rem;
					// }
					// @media only screen and (min-width: 64em) {
					// 	width: 10rem;
					// }
					> small {
						font-size: 0.875rem;
					}
				}
				&.logo {
					width: 20%;
				}
				// + .media-object-section {
				// 	padding-left: 1.5rem;
				// }
			}
		}
	}
	&.large {
		height: 32rem;
	}
}

.card-person {
	@extend .card;
	min-height: 124px;
	padding: 1rem;
	.img-wrapper {
		position: relative;
		display: flex;
		align-items: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		overflow: hidden;
		> img {
			width: 100%;
			height: auto;
			display: inline-block;
		}
	}
	.person-info {
		.info-name, .info-position, .info-email, .info-phone{
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-bottom: 0;
		}
		.info-name {
			font-family: $header-font-family;
		}
		.info-email, .info-phone{
			color: $primary-color;
			font-size: 0.75rem;
			i {
				margin-right: 1rem;
			}
		}
		.info-position{
			font-size: 0.75rem;
		}
	}
	.person-action {
		.button {
			margin-bottom: 0;
		}
	}
}



.block {
	width: 100%;
	margin-bottom: 2rem;
	border: 1px solid rgba($black, $B-dividers);
	border-radius: 2px;
	overflow: hidden;
	table {
		margin-bottom: 0;
	}
}

.block-container, .block-container-fade {
	padding: 1.9rem 1.3rem;
}

.block-container-fade { 
	background-color: $primary-light;
}

.block-container { 
	background-color: $white;
}

.block-heading {
	color: $white;
	background-color: $primary-color;
	padding: 1rem;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		font-family: $body-font-family;
		line-height: 2.2rem;
		margin-right: 1rem;
	}
	> label {
		color: rgba($white, $W-text) !important;
	}
	input {
		border: 1px solid rgba($black, $B-dividers) !important;		
	}
}

.page-lead {
	margin: 1rem 0;
	min-height: 2rem;
	&.tall {
		margin: 3rem 0;
		&.sub-heading {
			margin: 0 0 1rem;
		}
	}
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		display: inline-block;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		margin-right: 1rem;
		color: rgba($black, $B-text);
		width: 66%;
		vertical-align: top;
		line-height: 1.5em;
		font-weight: $global-weight-bold;
		&.primary-color {
			color: $primary-color;
		}
		&.secondary-color {
			color: $secondary-color;
		}
		&.success-color {
			color: $success-color;
		}
		&.subheader {
			color: rgba($black, $B-subtext);
		}
		.action-link {
			margin-left: 1rem;
			margin-bottom: 0;
		}
		&.full {
			width: 100%;
		}
		+ .h1,
			.h2,
			.h3,
			.h4,
			.h5,
			.h6 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	small {
		font-weight: normal;
	}
	.button {
		margin-bottom: 0;
	}
	.menu {
		display: inline-block;
		vertical-align: middle;
	}
	> .button {
		margin-bottom: 0;
		vertical-align: middle;
	}
	&.short-label {
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			width: 45%;
		}
	}
	&.sub-heading {
		margin: 0 0 0.5rem;
	}
}

/* CSS talk bubble */
.talk-bubble {
	margin: 0 0 0 2.5rem;
	padding: 1.5rem;
  	display: inline-block;
  	position: relative;
	// width: 100%;
	height: auto;
	background-color: $secondary-color;
	border-radius: 6px;
	&.small {
		margin: 0 0 0 1rem;
		padding: 0.75rem;
		border-radius: 2px;
		.talktext {
			> * {
				font-size: 0.875rem;
			}
		}
		&.tri-right.border.left-in:before {
			left: -20px;
			top: 15px;
			border: 10px solid;
			border-color: $secondary-color $secondary-color transparent transparent;
		}
		&.tri-right.left-in:after {
			left: -15px;
			top: 17px;
			border: 8px solid;
			border-color: $secondary-color $secondary-color transparent transparent;
		}
	}
}

.talktext {
	color: $white;
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		color: $white;
		margin-top: 0;
		line-height: 1.5em;
	}
	.subheader {
		line-height: 1.5em;
		color: rgba($white, $W-subtext);
	}
	> * {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.border {
  	border: 2px solid $secondary-color;
}

/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -2.5rem;
	right: auto;
  	top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: $secondary-color $secondary-color transparent transparent;
}

.tri-right.left-in:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  	left: -35px;
	right: auto;
  	top: 32px;
	bottom: auto;
	border: 20px solid;
	border-color: $secondary-color $secondary-color transparent transparent;
}

.orbit {
	.img-card {
		margin-bottom: 0;
		border: none;
	}
}

.orbit-bullets {
	button {
		height: 0.8rem;
		width: 0.8rem;
	}
}

.tour-wrapper {
	padding: 0 1rem;
	border-radius: 4px;
	// background-color: rgba($white, $W-dividers);
	// border: 1px solid rgba($white, $W-hinttext);
}