footer {
  background-color: $primary-color;
  border-top: 1px solid rgba($white, $W-dividers);

  .footer-wrapper {
    padding: 3.75rem 0;

    &.small {
      border-top: 1px solid rgba($white, $W-dividers);
      padding: 1rem 0;
    }
  }

  > * {
    color: $white;
  }

  .white {
    color: rgba($white, $W-text);

    &.subheader {
      color: rgba($white, $W-subtext);
      line-height: 1.5em;
    }
  }

  a {
    color: rgba($white, $W-subtext);

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
