footer {
	background-color: $primary-color;
	.footer-wrapper {
		border-top: 1px solid rgba($white, $W-dividers);
		padding: 3.75rem 0;
	}
	> * {
		color: $white;
	}
	a {
		color: $white;
		&:hover {
			color: $white;
			text-decoration: underline;
		}
	}
}