[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
	box-shadow: none;
	border-radius: 2px;
	border: 1px solid rgba($black, $B-dividers);
	&:focus {
		box-shadow: none;
		border: 1px solid $text-black;
	}
}

.button-append-submit {
	margin-top: 25px;
}

.form-single-line {
	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'],
	textarea {
		margin-bottom: 0;
	}
	[type='submit'] {
		margin-top: 25px;
		margin-bottom: 0;
	}
}

.input-group {
	> :first-child {
		border-radius: 2px 0 0 2px;
	}
	> :last-child {
		> * {
			border-radius: 0 2px 2px 0;
		}
	}
}

.help-text {
	font-style: normal;
}