[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
	box-shadow: none;
	border-radius: 2px;
	border: 1px solid rgba($black, $B-dividers);
	&:focus {
		box-shadow: none;
		border: 1px solid $text-black;
	}
	&.large-input, &.small-input {
		font-family: $header-font-family;
		margin: 0;
		color: rgba($black, $B-text);
	}
	&.small-input {
		font-size: 12px;
	}

	&.large-input {
		font-size: 1.75rem;
		font-weight: 600;
	}
}

.button-append-submit {
	margin-top: 25px;
}

.form-single-line {
	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'],
	textarea {
		margin-bottom: 0;
	}
	[type='submit'] {
		margin-top: 25px;
		margin-bottom: 0;
	}
}

.input-group {
	> :first-child {
		border-radius: 2px 0 0 2px;
	}
	> :last-child {
		> * {
			border-radius: 0 2px 2px 0;
		}
	}
}

.help-text {
	font-style: normal;
}

.dropdown-pane {
	width: 435px;
}

.list-wrap {
	.dropdown-pane {
		.subheader {
			color: rgba($black, $B-hinttext);
			margin: 7px 15px 15px;
			font-size: 0.75rem;
			font-weight: 600;
			text-transform: uppercase;
		}
		label {
			select {
				margin: 0 5px;
				border-radius: 2px;
				width: auto;
				display: inline-block;
			}
		}
	}
}