.fb-header {
	background-color: transparent;
	margin-top: 2rem;
}

.fb-body {
	.fb-components-container {
		.component-group {
			padding: 1rem;
			.component-group-title {
				margin: 0px;
				margin-left: 1rem;
				color: #8c8c8c;
			}
			.components {
				margin-left: 0rem;
				list-style-type: none !important;
				margin-bottom: 0px;
				a {
					li {
						transition: all .25s;
						border-radius: 3px;
						padding: .35rem 0rem;
						padding-left: 1.5rem;
						font-size: 1.05rem;
						color: #323232;
						.fa {
							margin-right: .5rem;
							color: #3b77a5;
						}
					}
					&:hover {
						li {
							transition: all .25s;
							background-color: lighten(#4981ab,48%);
							.fa {
								color: darken(#3b77a5, 10%);
							}
						}
					}
				}
			}
		}
	}
	.fb-container {
		.fb-editor {
			// margin: 0px 1rem;
			background-color: #fff;
			min-height: 80vh;
			padding: 2rem;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			// padding-top: 2rem;
			// border-radius: .5rem;
			.row {
				margin-bottom: 2rem;
			}
			.fb-item {
				.fb-control-left {}
				.fb-item-content {
					.fb-item-choices-container {
						ul.fb-item-choices {
							margin: 0px;
							li {
								// border-radius: 50rem;
								// background-color: $success-color;
								// padding: .35rem .5rem;
								padding: 0px;
								padding-right: .5rem;
								margin-bottom: 1rem;
								margin-right: .5rem;
								// color: #fff;
								border: 0px;
								border-bottom: 1px solid #eaeaea;
							  	resize: horizontal;
								// padding-right: 1.5rem;
								display: block;
								input {
									background-color: transparent;
									display: inline-block;
									resize: horizontal;
									width: 94%;
									margin-bottom: 0px;
									border-top: 0px;
									border-left: 0px;
									border-right: 0px;
									border: 0px;
									color: #797979;
									&:focus {
										color: #323232;
										border-color: #323232;
									}
								}
							}
						}
					}
				}
				.fb-item-question {}
				.fb-control-right {}
			}
		}
	}
	.fb-component-attr-container {}
}

.editable {
	border: 0px;
	border-bottom: 1px solid darken($primary-light,20%);
	background-color: transparent;
	border-radius: 0px;
	// width: 5rem;
	width: 100%; 
	box-sizing: border-box;
}