.spk-gain-graph {
	.progress {
		background-color: rgba($black, $B-dividers);
		border-radius: 7px;
		.progress-meter {
			display: inline-block;
			float: left;
			&.deductible {
				position: relative;
				background-color: $secondary-color;
				border-top-left-radius: 7px;
				border-bottom-left-radius: 7px;
				&:after {
					position: absolute;
					top: 0.9rem;
					right: 0;
					content: ":";
					color: rgba($black, $B-hinttext);
				}
				&:before {
					position: absolute;
					bottom: 0.9rem;
					right: 0;
					content: ":";
					color: rgba($black, $B-hinttext);
				}
				.deductible-label {
					position: absolute;
					margin: 0;
					top: 2rem;
					bottom: -2rem;
					right: 0.5rem;
					font-size: 0.75rem;
					color: rgba($black, $B-subtext);
					text-align: right;
				}
			}
			&.negate {
				float: right;
				background-color: $alert-color;
			}
			&.bonus {
				background-color: $success-color;
				border-top-right-radius: 7px;
				border-bottom-right-radius: 7px;
				.bonus-label {
					position: absolute;
					margin: 0;
					top: 2rem;
					bottom: -2rem;
					right: 0rem;
					font-size: 0.75rem;
					color: rgba($black, $B-subtext);
					text-align: right;
				}
			}
		}
		&.small {
			height: 0.5rem;
			.progress-meter {
				&.deductible {
					&:after {
						position: absolute;
						top: 0.25rem;
						right: 0;
						content: ":";
						color: rgba($black, $B-hinttext);
					}
					&:before {
						position: absolute;
						bottom: 0.25rem;
						right: 0;
						content: ":";
						color: rgba($black, $B-hinttext);
					}
				}
			}
		}
	}
}