.spk-gain-graph {
	.progress {
		background-color: rgba($black, $B-dividers);
		border-radius: 8px;
		height: 1.2rem;
		.progress-meter {
			display: inline-block;
			float: left;
			&.deductible {
				position: relative;
				background-color: $secondary-color;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px;
				&:after {
					position: absolute;
					top: 0.9rem;
					right: -2px;
					content: "|";
					color: rgba($black, $B-hinttext);
				}
				.deductible-label {
					position: absolute;
					margin: 0;
					top: 2rem;
					bottom: -2rem;
					right: 0.5rem;
					font-size: 0.875rem;
					color: rgba($black, $B-subtext);
					text-align: right;
				}
			}
			&.negate {
				float: right;
				background-color: $alert-color;
			}
			&.bonus {
				background-color: $success-color;
				border-top-right-radius: 8px;
				border-bottom-right-radius: 8px;
				.bonus-label {
					position: absolute;
					margin: 0;
					top: 2rem;
					bottom: -2rem;
					right: 0rem;
					font-size: 0.875rem;
					color: rgba($black, $B-subtext);
					text-align: right;
				}
			}
		}
		&.small {
			height: 0.5rem;
			.progress-meter {
				&.deductible {
					&:after {
						position: absolute;
						top: 0rem;
						right: -2px;
						content: "|";
						color: rgba($black, $B-hinttext);
					}
					// &:before {
					// 	position: absolute;
					// 	bottom: 0.25rem;
					// 	right: 0;
					// 	content: ":";
					// 	color: rgba($black, $B-hinttext);
					// }
				}
			}
		}
	}
}

.mpirica-graph {
	padding: 80px 0 0;
	.label-text {
		// color: $white;
		font-size: 0.875rem;
		font-weight: $global-weight-bold;
		text-transform: uppercase;
	}
	.progress {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff1b19+0,fdc513+56,fdc513+56,81a714+84 */
		background: #ff1b19; /* Old browsers */
        background: -moz-linear-gradient(left,  #ff1b19 0%, #fdc513 56%, #fdc513 56%, #81a714 84%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #ff1b19 0%,#fdc513 56%,#fdc513 56%,#81a714 84%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #ff1b19 0%,#fdc513 56%,#fdc513 56%,#81a714 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1b19', endColorstr='#81a714',GradientType=1 ); /* IE6-9 */
		border-radius: 8px;
		height: 0.5rem;
		margin-bottom: 0;
		.progress-meter {
			border-radius: 8px;
			position: relative;
			display: inline-block;
			float: left;
			// visibility: hidden;
			background-color: transparent;
			.mpirica-wrapper {
				position: absolute;
				right: 0;
				top: -70px;
				visibility: visible;
			}
			.mpirica-bubble {
				visibility: visible;
				position: absolute;
				right: 0;
				top: -2.5rem;
				background-color: $success-color;
				max-width: 10rem;
				padding: 0.5rem 0.75rem 0.25rem;
				color: $white;
				border-radius: 4px;
				font-weight: bold;
				&:before {
					position: absolute;
				    display: block;
				    width: 0;
				    height: 0;
				    border: inset 0.25rem;
				    content: '';
				    border-bottom-width: 0;
				    border-top-style: solid;
				    border-color: $success-color transparent transparent;
				    top: 100%;
				    bottom: auto;
				    left: 43%;
				}
			}
		}
	}
	&.bubble {
		padding: 50px 15px 15px;
	}
	&.compacted {
		padding: 1rem 0 0;
		.progress {
			.progress-meter {
				position: relative;
				&:after {
					position: absolute;
					top: -1rem;
					right: 0;
					content: "|";
					color: $success-color
				}
			}
		}
	}
	&.small {
		.progress {
			height: 0.25rem;
			.mpirica-wrapper {
				width: 35px;
				height: 35px;
				span.rating {

				}
				> img {
					width: 35px;
					height: 35px;
				}
			}
		}
	}
}

.mpirica-wrapper {
	width: 70px;
	height: 70px;
	position: relative;
	span.rating {
		display: block;
		position: absolute;
		width: 80%;
		top: 30px;
		left: 8px;
		z-index: 4;
		text-align: center;
		color: $white;
		font-weight: bold;
	}
	> img {
		width: 70px;
		height: 70px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 3;
	}
	&.large {
		width: 400px;
		height: 400px;
		position: relative;
		span.rating {
			display: block;
			position: absolute;
			width: 80%;
			top: 165px;
			left: 40px;
			z-index: 4;
			text-align: center;
			color: $white;
			font-weight: bold;
			font-size: 6rem;
		}
		> img {
			width: 400px;
			height: 400px;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 3;
		}
	}
}

@mixin circle-graph-circle($size) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - #{$size/2});
  top: calc(50% - #{$size/2});
  width: $size;
  height: $size;
}

$circle-graph-size: rem-calc(180);
$circle-graph-percent-number-size: rem-calc(24);
$circle-graph-percent-unit-size: rem-calc(16);
$circle-graph-background-color: $light-gray;
$circle-graph-empty-color: $dark-gray;
$circle-graph-fill-color: $secondary-color;

.circle-graph {
  width: $circle-graph-size;
  height: $circle-graph-size;
  border-radius: 50%;
  background-color: $circle-graph-empty-color;
  position: relative;
  margin: 0 auto;

  &.gt-50 {
    background-color: $circle-graph-fill-color;
  }
}

.circle-graph-progress {
  @include circle-graph-circle($circle-graph-size);
  clip: rect(0, $circle-graph-size, $circle-graph-size, #{$circle-graph-size/2});

  .circle-graph-progress-fill {
    @include circle-graph-circle($circle-graph-size);
    clip: rect(0, #{$circle-graph-size/2}, $circle-graph-size, 0);
    background: $circle-graph-fill-color;
    transform: rotate(60deg);
  }

  .gt-50 & {
    clip: rect(0, #{$circle-graph-size/2}, $circle-graph-size, 0);

    .circle-graph-progress-fill {
      clip: rect(0, $circle-graph-size, $circle-graph-size, #{$circle-graph-size/2});
      background: $circle-graph-empty-color;
    }
  }
}

.circle-graph-percents {
  @include circle-graph-circle(#{$circle-graph-size/1.45});
  background: $circle-graph-background-color;
  text-align: center;
  display: table;
  z-index: 4;

  .circle-graph-percents-number {
    display: block;
    font-size: $circle-graph-percent-number-size;
    font-weight: bold;
    color: $circle-graph-fill-color;
  }

  .circle-graph-percents-units {
    display: block;
    font-size: $circle-graph-percent-unit-size;
    font-weight: bold;
  }
}

.circle-graph-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
  line-height: 0;

  span {
    line-height: 1;
  }
}