header {
	padding: 1rem;
	background-color: $white;
	a.logo {
		display: inline-block;
		padding: 0.4rem 1rem;
		img {
			height: 1.5rem;
			width: auto;
		}
	}
	.menu {
		> li {
			color: rgba($black, $B-text);
			a {
				color: rgba($black, $B-text);
				&.button {
					margin: 0 1rem;
				}
			}
			&.menu-text {
				font-weight: $global-weight-bold;
				color: rgba($black, $B-subtext);
			}
		}
		&.submenu {
			> li {
				a {
					&:hover {
						background-color: rgba($secondary-color, $B-dividers);
					}
				}
			}
		}
	}
}

.menu-icon {
	margin-left: 0.5rem;
	&.dark {
		&:after {
			background: rgba($black, $B-hinttext);
			box-shadow: 0 7px 0 rgba($black, $B-hinttext), 0 14px 0 rgba($black, $B-hinttext);
		}
	}
}

// This is for the sidebar navigation on the left
.site-nav {
	background-color: $primary-color;
	overflow-y: auto;
	border-right: 1px solid rgba($primary-color, $B-dividers);
	// Override the blue caret that appears after the dropdown side menu
	.is-accordion-submenu-parent > a::after {
		border-color: $white transparent transparent;
	}
	> ul.menu {
		padding: 2rem 0;
		> li {
			transition: all ease-in 0.2s;
			> a {
				font-family: $body-font-family;
				color: $text-white;
				font-weight: $global-weight-bold;
				border-bottom: 1px solid rgba($white, $W-dividers);
				font-size: 0.875rem;
			}
			&.is-accordion-submenu-parent {
				border-bottom: 1px solid rgba($white, $W-dividers);
				a {
					border-bottom: none;
				}
			}
			&.is-active {
				background-color: rgba($white, $W-subtext);
				a {
					color: rgba($black, $B-text);
				}
				ul.nested {
					> li {
						a {
							color: $text-black;
						}
					}
				}
				&.is-accordion-submenu-parent {
					> a::after {
						border-color: $text-black transparent transparent;
					}
				}
				&:hover {
					background-color: rgba($white, $W-subtext);
				}
			}
			&:hover {
				background-color: rgba($white, $W-dividers);
			}
			ul.nested {
				margin-left: 0;
				> li {
					a {
						color: $text-white;
						padding-left: 2.5rem;
						font-size: 0.75rem;
						font-weight: normal;
					}
					&.is-active {
						background-color: rgba($white, $W-subtext);
						color: rgba($black, $B-text);
						a {
							color: rgba($black, $B-text);
						}
						&:hover {
							background-color: rgba($white, $W-subtext);
						}
					}
					&:hover {
						background-color: rgba($white, $W-dividers);
					}
				}
			}
		}
	}
	&.secondary {
		background-color: lighten($primary-color, 15%);
		border-right: 1px solid $light-gray;
		> ul.menu {
			padding: 1rem 0;
			> li {
				> a {
					font-size: 1rem;
					border-bottom: 1px solid rgba($black, $B-dividers);
				}
				.card-user-profile {
					border-bottom: 1px solid rgba($black, $B-dividers);
					background: $white;
				}
				&.is-active {
					background-color: $primary-color;
					> a {
						color: rgba($white, $W-text);
					}
					&.is-accordion-submenu-parent {
						> a::after {
							border-color: $white transparent transparent;
						}
					}
					&:hover {
						background-color: rgba($black, $B-subtext);
					}
				}
			}
		}
	}
}