header {
	padding: 0.5rem;
	background-color: rgba($white, $B-text);
	a.logo {
		display: block;
		padding: 0.5rem 1rem;
		img {
			height: 1.5rem;
			width: auto;
		}
	}
}

.site-nav {
	background-color: $dark-gray;
	// Override the blue caret that appears after the dropdown side menu
	.is-accordion-submenu-parent > a::after {
		border-color: $white transparent transparent;
	}
	> ul.menu {
		padding: 2rem 0;
		> li {
			transition: all ease-in 0.2s;
			a {
				font-family: $header-font-family;
				text-transform: uppercase;
				color: $text-white;
				font-weight: 600;
				border-bottom: 1px solid rgba($white, $W-dividers);
				font-size: 0.75rem;
			}
			&.is-accordion-submenu-parent {
				border-bottom: 1px solid rgba($white, $W-dividers);
				a {
					border-bottom: none;
				}
			}
			&.is-active {
				background-color: rgba($white, $W-subtext);
				a {
					color: rgba($black, $B-text);
				}
				&.is-accordion-submenu-parent {
					> a::after {
						border-color: $text-black transparent transparent;
					}
				}
				&:hover {
					background-color: rgba($white, $W-subtext);
				}
			}
			&:hover {
				background-color: rgba($white, $W-dividers);
			}
			ul.nested {
				margin-left: 0;
				margin-bottom: 0.5rem;
				> li {
					a {
						padding-left: 2.5rem;
						font-size: 0.625rem;
						font-weight: 600;
					}
					&.is-active {
						background-color: rgba($white, $W-subtext);
						color: rgba($black, $B-text);
						&:hover {
							background-color: rgba($white, $W-subtext);
						}
					}
					&:hover {
						background-color: rgba($white, $W-dividers);
					}
				}
			}
		}
	}
}