.image-gallery-item {
	overflow:hidden;
	@extend .card;
	max-height:242px;
	img {
		width: 100%;
		height: 100%;
		max-height:100%;
	}
}

.gallery-image-action {
	transition: all 0.25s ease;
	z-index: 5;
	background-color: rgba(#fff, .25);
	padding: .5rem;
	a {
		margin-bottom: 0px;
	}
}


.gallery-item {
	position: relative;
	margin: 0.5rem 0;
	.image {
		width: 100%;
		height: 150px;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		background-color: $black;
		img {
			position: absolute;
			width: 100%;
		}
	}
	.action {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba($black, $B-hinttext);
		a {
			margin: 0.5rem; 
		}
	}
	&.highlighted {
		border: 2px dashed $warning-color;
	}
}

.thumbnail {
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	padding: 1rem;
	background-color: $white;
	border-radius: 2px;
	border: 1px solid rgba($black, $B-dividers);
	box-shadow: none;
	&.variable {
		height: auto;
	}
	&:hover {
		box-shadow: none;
	}
}

.img-wrapper {
	position: relative;
	overflow: hidden;
    width: 10rem;
    height: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    img {
    	margin: 0;
    	padding: 0;
    	width: 100%;
    	object-fit: cover;
    }
	&.circle {
		border-radius: 50%;
	}
	&.bordered {
		border: 1px solid rgba($black, $B-dividers);
	}
	&.small {
		width: rem-calc(102);
	}
	&.tiny {
		width: rem-calc(39);
	}
	&.full {
		width: 100%;
	}
	&.secondary {
		border: 1px solid lighten($secondary-color, 25%) !important;
		background-color: lighten($secondary-color, 25%) !important;
		color: $white;
	}
	&.success {
		border: 1px solid lighten($success-color, 25%) !important;
		background-color: lighten($success-color, 25%) !important;
		color: $white;
	}
	&.alert {
		border: 1px solid lighten($alert-color, 25%) !important;
		background-color: lighten($alert-color, 25%) !important;
		color: $white;
	}
	&.warning {
		border: 1px solid lighten($warning-color, 25%) !important;
		background-color: lighten($warning-color, 25%) !important;
		color: $white;
	}
	// This wrapper is primarily used in the landing page of the employee portal
	&.landing {
		background-color: transparent;
		width: 20rem;
	}
	&.screenshot-scene {
		width: 100%;
	}
}

.img-group {
	img {
		width: 20px !important;
		height: 20px;
	}
}

.vertical-feature-block {
	img {
	    display: block;
    	padding: 1.25rem;
    	margin: 1rem auto 0 auto;
    	height: 50%;
    	width: 50%;
	}
}

.user-image {
	
	&.circle {
		border-radius: 50%;
	}
	&.tiny {
		width: 40px;
		height: 40px;
	}
	&.small {
		width: 48px;
		height: 48px;
	}
	&.medium {
		width: 56px;
		height: 56px;
	}
	&.large {
		width: 64px;
		height: 64px;
	}
}
