.fa-ul {
	padding-left: 1.875rem;
}

.well-list {
	margin: 0;
	padding: 0;
	list-style: none;
	> li {
		font-family: $header-font-family;
		font-weight: 400;
		min-height: 20px;
		border-bottom: 1px solid rgba($black, $B-dividers);
		position: relative;
		a {
			color: $text-black;
			font-weight: 400;
			&:hover {
				text-decoration: underline;
			}
		}
		[type='text'],
		[type='password'],
		[type='date'],
		[type='datetime'],
		[type='datetime-local'],
		[type='month'],
		[type='week'],
		[type='email'],
		[type='number'],
		[type='search'],
		[type='tel'],
		[type='time'],
		[type='url'],
		[type='color'] {
			margin-bottom: 0.5rem;
		}
		.input-group {
			margin-bottom: 0;
		}
		[type='radio'],
		[type='checkbox'] {
			margin-bottom: 0;
		}
		.list-wrap {
			background-color: $white;
			padding: 15px 25px;
			&.stack-for-small {
				.list-item-image, .list-item-name, .list-detail {
					@media only screen and (max-width: 40em) {
						display: block;
						width: 100%;
					}
					
				}
			}
		}
		.list-panel {
			background-color: rgba($dark-gray, $B-dividers);
			display: none;
			.form-single-line {
				padding: 15px 30px 15px;
			}
			.callout {
				margin: 0;
				background-color: rgba($dark-gray, $B-dividers);
				border: none;
				border-radius: 0;
			}
		}
		.pull-left {
			margin-right: 1rem;
		}
		.list-item-image {
			width: 7%;
			position: relative;
			display: inline-block;
		}
		.list-item-name {
			width: 44%;
			position: relative;
			display: inline-block;
			> a,
			span,
			label {
				display: inline-block;
				width: 88%;
				vertical-align: middle;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis; 
			}
		}
		.list-detail {
			width: 40%;
			display: inline-block;
			color: rgba($black, $B-subtext);
		}
		.list-note {
			display: inline-block;
			width: 20%;
		}
		&:last-child {
			border-bottom: none;
		}
		&:after {
			content: " ";
    		display: table;
    		clear: both;
		}
	}
	// Wells listed under the main list
	.well-list {
		> li {
			font-size: 0.875rem;
			border-bottom: 1px solid rgba($white, $W-hinttext);
			.list-wrap {
				padding-left: 65px;
				background: transparent;
			}
			&.list-core {
				.list-wrap {
					background-color: rgba($primary-color, $B-dividers);
				}
			}
			.list-item-name {
				label {
					font-size: 0.875rem;
				}
			}
			.list-detail {
				width: 20%;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	// Small version of the default well list
	&.small {
		.h6 {
			font-size: 0.875rem;
		}
		> li {
			.list-wrap {
				padding: 9px 15px;
				overflow: hidden;
			}
			.list-item-name {
				position: relative;
				float: left;
				> a,
				span,
				label {
					display: inline-block;
					width: 83%;
					vertical-align: middle;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis; 
				}
			}
			.list-detail {
				width: 30%;
				display: inline-block;
			}
		}
		// Wells listed under the main small list
		.well-list {
			.action-link {
				line-height: 1.5rem;
			}
			.list-wrap {
				padding-left: 30px;
			}
			> li {
				.list-item-name {
					label {
						font-size: 0.875rem;
					}
				}
			}
			// Third tier of wells
			.well-list {
				.action-link {
					line-height: 1.5rem;
				}
				.list-wrap {
					padding-left: 65px;
				}
				> li {
					font-size: 0.75rem;
					.list-item-name {
						label {
							font-size: 0.75rem;
						}
					}
					.list-detail {
						width: 30%;
					}
				}
			}
		}
	}
	&.with-input {
		[type='text'],
		[type='password'],
		[type='date'],
		[type='datetime'],
		[type='datetime-local'],
		[type='month'],
		[type='week'],
		[type='email'],
		[type='number'],
		[type='search'],
		[type='tel'],
		[type='time'],
		[type='url'],
		[type='color'] {
			margin-bottom: 0;
		}
		> li {
			.pull-left, .list-item-name, .list-detail {
				margin-top: 0.5rem;
			}
			.list-group {
				[type='text'],
				[type='password'],
				[type='date'],
				[type='datetime'],
				[type='datetime-local'],
				[type='month'],
				[type='week'],
				[type='email'],
				[type='number'],
				[type='search'],
				[type='tel'],
				[type='time'],
				[type='url'],
				[type='color'] {
					display: inline-block;
					width: 80%;
					margin-right: 1rem;
				}
			}
		}
	}
	// Will be used on facilities (listed style)
	&.highlights-list {
		.list-wrap {
			display: flex;
			align-items: center;
		}
		.list-item-image, .list-item-name, .list-detail {
			margin-right: 1rem;
		}
		&.gain {
			border-top: 1px solid rgba($black, $B-dividers);
			border-bottom: 1px solid rgba($black, $B-dividers);
			.list-item-image {
				width: 15%;
				margin-right: 2rem;
			}
			.list-item-name {
				width: 50%;
				> * {
					margin-bottom: 0;
				}
			}
			.list-detail {
				width: 30%;
			}
		}
	}
	&.awards-list {
		.list-wrap {
			display: flex;
			align-items: center;
		}
		.list-item-image, .list-item-name, .list-detail {
			margin-right: 1rem;
		}
	}
}

.linked-list {
	.list-item {
		display: inline-block;
		font-family: $header-font-family;
		padding: 0.5rem;
	}
}

.grouped-listing {
	margin: 2rem 0;
	ul, ol {
		margin: 0;
		padding: 0;
		list-style: none;
		> li {
			margin-bottom: 1rem;
		}
		&.fa-ul {
			padding-left: 1.875rem;
		}
	}
	.subheader {
		line-height: 1.6;
	}
}