body {
	overflow: hidden;
	&.frontend {
		overflow: scroll;
	}
}

hr {
	border-bottom: 1px solid rgba($black, $B-dividers);
}

section {
	&.section {
		padding: 3.75rem 0;
		.section-heading {
			margin-bottom: 1.875rem;
		}
	}
	&.white-bg {
		background-color: $white;
		border-top: 1px solid rgba($black, $B-dividers);
		border-bottom: 1px solid rgba($black, $B-dividers);
	}
	&.jumbotron {
		background-color: $white;
		border-bottom: 1px solid rgba($black, $B-dividers);
		.columns {
			display: flex;
			align-items: center;
		}
		.call-to-action {
			padding: 3.75rem 0;
			h1 {
				margin-bottom: 1.875rem;
				@media only screen and (min-width: 40em) {
					font-size: 2.3125rem;
					line-height: 1.5em;
				}
			}
			p {
				margin-bottom: 1.875rem;
				@media only screen and (min-width: 40em) {
					font-size: 1.125rem;
					line-height: 1.5em;
				}
			}
			.brick {
				text-transform: none;
				border-color: rgba($black, $B-dividers);
				min-width: 10rem;
				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					margin: 0;
				}
				p {
					margin: 0;
					font-size: 0.75rem;
					font-weight: normal;
				}
			}

		}
		.lead-testimonial {
			position: relative;
			.story-card {
				position: absolute;
				padding: 1rem;
				bottom: 0;
				right: 0;
				background-color: rgba($white, $W-subtext);
				border-top-left-radius: 2px;
				border-top-right-radius: 2px;
				.button {
					margin-bottom: 0;
				}
			}
		}	
	}
}

.login {
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	.login-inner {
		display: table-cell;
		vertical-align: middle;
		.login-wrap {
			margin: 0 auto;
			padding: 2rem;
			width: 30%;
			background: $white;
			border: 1px solid rgba($black, $B-dividers);
			border-radius: 2px;
			form {
				margin-top: 2rem;
			}
		}
	}
}

.content {
	overflow-y: scroll;
	.top-bar {
		// Override the blue caret after the dropdown link in the topbar
		.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
			border-color: rgba($black, $B-text) transparent transparent;
		}
		.menu {
			> li {
				a {
					position: relative;
					color: rgba($black, $B-text);
					.badge {
						position: absolute;
						top: 0;
						right: 12px;
						min-height: 2.1em;
						line-height: 1.5em;
					}
				}
			}
		}
	}
}