.login {
	height: 100%;
	width: 100%;
	display: table;
	table-layout: fixed;
	.login-inner {
		display: table-cell;
		vertical-align: middle;
		.login-wrap {
			margin: 0 auto;
			padding: 2rem 2rem 1rem;
			width: 30%;
			border: 1px solid rgba($black, $B-dividers);
			form {
				margin-top: 2rem;
			}
		}
	}
}

.content {
	.top-bar {
		// Override the blue caret after the dropdown link in the topbar
		.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
			border-color: rgba($black, $B-text) transparent transparent;
		}
		.menu {
			> li {
				a {
					position: relative;
					color: rgba($black, $B-text);
					.badge {
						position: absolute;
						top: 0;
						right: 12px;
						min-height: 2.1em;
						line-height: 1.5em;
					}
				}
			}
		}
	}
}

.page-lead {
	margin: 2rem 0;
}