.media-object {
	margin: 1rem 0;
	&.stack-for-small {
		.img-wrapper {
			@media only screen and (min-width: 40em) {
			}
		}
	}
	&.mt-0 {
		margin-top: 0;
	}
	&.mb-0 {
		margin-bottom: 0;
	}
}

.media-object-section {
	&.logo {
		width: 20%;
		.img-wrapper {
			overflow: hidden;
			width: 4.3125rem;
			height: 4.3125rem;
			display: flex;
			align-items: center;
			text-align: center;
			border: 1px solid rgba($black, $B-dividers);
			img {
				width: 100%;
			}
		}
		&.small {
			.img-wrapper {
				width: 2.75rem;
				height: 2.75rem;
			}
		}
		&.large {
			.img-wrapper {
				width: 8.625rem;
				height: 8.625rem;
			}
		}
		@media only screen and (min-width: 40em) {
			width: auto;
		}
	}
}