.media-object {
	margin: 1rem 0;
	&.full-table {
		display: table;
		width: 100%;
		// margin: 0 0 1rem;
		.logo {
			width: 4.4125rem;
			height: auto;
			&.small {
				width: 2.75rem;
				height: auto;
			}
			&.large {
				width: 8.625rem;
				height: auto;
			}
		}
	}
	&.mt-0 {
		margin-top: 0;
	}
	&.mb-0 {
		margin-bottom: 0;
	}
}

.media-object-section {
	&:first-child {
		padding-right: 1.5rem;
	}
	&.logo {
		.img-wrapper {
			overflow: hidden;
			width: 4.3125rem;
			height: 4.3125rem;
			display: flex;
			align-items: center;
			text-align: center;
			border: 1px solid rgba($black, $B-dividers);
			background-color: $white;
			img {
				width: 100%;
			}
		}
		&.small {
			.img-wrapper { 
				width: 2.75rem;
				height: 2.75rem;
			}
		}
		&.large {
			.img-wrapper {
				width: 8.625rem;
				height: 8.625rem;
			}
		}
	}
	&.small {
		&:first-child {
			padding-right: 0.5rem;
		}
	}
}