// SPOKE MOBILE MEDIA QUERIES

@media only screen and (max-width: 390px) {
  #chat-container, #chat-notification {
    max-width: 350px;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  #chat-container, #chat-notification {
    max-width: 300px;
    width: 100%;
  }

  #chat-container {
    height: 100%;
    max-height: 400px;
  }

  .form-notification {
    max-height: 15em;
    height: 100%;
    overflow: scroll !important;
  }
}

@media only screen and (max-width: 320px) {
  .message-container {
    height: 17em !important;
    // Remove main vertical scroll on screen
  }
}