.media-object {
	margin: 1rem 0;
	&.full-table {
		display: table;
		width: 100%;
		.media-object-section {
			.button {
				white-space: nowrap;
			}
			&.logo {
				width: 20%;
			}
		}
		&.fixed {
			table-layout: fixed;
		}
	}
}

.media-object-section {
	a {
		color: inherit;
	}
	.badge {
		width: 0.5rem;
		height: 0.5rem;
		min-width: 0.5rem;
		padding: 0;
		vertical-align: middle;
		&.info {
			background-color: $light-gray;
		}
	}
	.button {
		white-space: nowrap;
	}
	&.logo,
	&.cover {
		.img-wrapper {
			overflow: hidden;
			width: 4.3125rem;
			height: 4.3125rem;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			border: 1px solid rgba($black, $B-dividers);
			background-color: $white;
			img {
				width: 100%;
			}
			span.h5 {
				font-weight: normal;
				color: rgba($black, $B-hinttext);
			}
		}
		&.tiny {
			.img-wrapper { 
				width: 1.375rem;
				height: 1.375rem;
			}
		}
		&.small {
			.img-wrapper { 
				width: 2.75rem;
				height: 2.75rem;
			}
		}
		&.large {
			.img-wrapper {
				width: 8.625rem;
				height: 8.625rem;
			}
		}
	}
	&.cover {
		.img-wrapper {
			width: 12.9375rem;
			height: 18rem;
			align-items: bottom;
		}
	}
}