.chat-support, .chat-area {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.21);
}

.message-status {
	> ul {
		margin: 0;
		padding: 0 24%;
		text-transform: uppercase;
	}
}

// COMMUNICATION //
.inbound, .outbound {
	img {
		max-width: 2.62rem;
		width: 100%;
	}
	small {
		font-size: 0.7rem;
	}
	.panel {
		border-color: transparent;
	}
}

// Power Tour Overrides
.tour-wrapper {
	padding: 0 1rem;
	border-radius: 4px;
	// background-color: rgba($white, $W-dividers);
	// border: 1px solid rgba($white, $W-hinttext);
}

#powertour-mask {
	// background-color: rgba(10,16,35,0.54);
	background-color: $white;
	opacity: 0.87;
}

.powertour-step {
	z-index: 2;
	.close-button {
		display: none;
		position: absolute;
		top: -1rem;
		right: -1rem;
		color: rgba($black, $B-hinttext);
		&:hover {
			color: rgba($black, $B-subtext);
		}
	}
	&.powertour-activestep {
		.close-button {
			display: inline-block;
		}
	}
}

.connectordot-tl {
	height: 135px;
	top: -75px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

.connectordot-lt {
	width: 300px;
	left: -255px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

#stepTwo {
	.connectordot-lm {
		width: 280px;
		left: -255px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepThree {
	.connectordot-lm {
		width: 165px;
		left: -142px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepFour {
	.connectordot-lm {
		width: 65px;
		left: -42px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepFive {
	.connectordot-lm {
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

.connectordot-bl {
	height: 30px;
	bottom: -30px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

.sticky {
	position: relative;
	&.is-anchored {
		position: relative;
	}
	&.is-stuck {
		margin-top: 0 !important;
	}
}

.modal-tour {
	@extend .reveal;
	display: block !important;
}


//------- MOBILE OVERRIDES -------- //	


.mobile {
	.tabs {
		li {
			text-align: center;
			margin: 0 auto !important;
		}
	}
}



// - GRAPH
$graph-radius: 10px;
$oop-bg: #283D4B;
$allowance-bg: #81A714;

.c-oop {
	color: $oop-bg;
}
.c-allowance {
	color: $allowance-bg;
}

.spk-gain-graph {
	background-color: rgba(42, 42, 42, 0.12);
	border-radius: $graph-radius;
	display: flex;
	div {
		padding: .3em 1em;
		color: #fff;
		min-height: 1em;
	}
	.oop{ 
		// background-color: $oop-bg;		
		border-radius: $graph-radius 0 0 $graph-radius;
		width: 32%;
	}
	.allowance{
		// background-color: $allowance-bg;		
		border-radius: 0 $graph-radius $graph-radius 0;
		width: 46%;
	}
}

//------- MOBILE OVERRIDES ENDS HERE -------- //	
