.chat-support, .chat-area {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.21);
}

.offcanvas-area {
	width: 30rem;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 0;
	background-color: $white;
	// border-left: 1px solid rgba($black, $B-dividers);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	// overflow-y: scroll;
	transition: width 0.2s ease-in-out;
	.btn-close {
		position: absolute;
		top: 0;
		left: -44px;
		display: block;
		height: 56px;
		width: 44px;
		z-index: 4;
		font-weight: $global-weight-bold;
		background: $background-white;
		padding: 15px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border-radius: 8px 0 0 8px;
		color: $text-black;
	}
	.offcanvas-area-inner {
		position: relative;
		width: auto;
		height: auto;
	}
	.offcanvas-header {
		position: relative;
		z-index: 5;
		top: 0;
		width: 100%;
		padding: 0.5rem 1rem;
		background-color: $background-white;
		border-bottom: 1px solid rgba($black, $B-dividers);
		.input-group {
			margin: 0;
		}
	}
	.offcanvas-body {
		position: relative;
		overflow-y: hidden;
		padding: 0;
	}
}

#chatSupport {
	width: 60rem;
	.offcanvas-area-inner {
		display: flex;
		flex-direction: column;
		justify-content: flex-start; /*align items in main axis*/
		align-items: stretch; /* align items in Cross Axis */
    	align-content: stretch; /* Extra space in Cross Axis */
    	overflow-y: scroll;
		&::-webkit-scrollbar {
			display: none;
		}
		&::-moz-scrollbar {
			display: none;
		}
	}
	.offcanvas-header,
	#chatStatus,
	#videoCall,
	.offcanvas-body {
		width: 100%;
	}
	#chatStatus {
		.badge {
			width: 0.5rem;
			height: 0.5rem;
			min-width: 0.5rem;
			padding: 0;
			vertical-align: middle;
		}
	}
	.offcanvas-body {
		min-height: 570px;
		flex: 1 1 auto; /*grows*/
		display: flex;
		flex-direction: row;
		justify-content: flex-start; /*align items in main axis*/
		align-items: stretch; /* align items in Cross Axis */
    	align-content: stretch; /* Extra space in Cross Axis */
	}
	.main-content,
	.side-content {
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start; /*align items in main axis*/
		align-items: stretch; /* align items in Cross Axis */
    	align-content: stretch; /* Extra space in Cross Axis */
    	border-top: 1px solid rgba($black, $B-dividers);
		.inner {
			flex: 1 1 auto;
			overflow-y: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
			&::-moz-scrollbar {
				display: none;
			}
		}
		.footer-content {
			padding: 1rem;
			background-color: $white;
			border-top: 1px solid rgba($black, $B-dividers);
			.input-group, .button {
				margin-bottom: 0;
			}
		}
	}
	.main-content {
		background-color: $white;
		.panel {
			border-right: none;
			border-left: none;
			border-radius: 0;
		}
		.inner {
			box-shadow: inset -1px 0 0 rgba($black, $B-dividers);
			> .panel:first-child {
				border-top: none;
				border-right: 1px solid rgba($black, $B-dividers);
			}
		}
		.footer-content {
			border-right: 1px solid rgba($black, $B-dividers);
		}
		.dropdown.menu {
			> li {
				a {
					color: $text-black;
					padding: 0.7rem;
				}
				&.opens-left {
					> .is-dropdown-submenu {
						left: auto !important;
					    right: 0 !important;
					    top: 100% !important;
					    &:after {
					    	right: 3% !important;
					    	left: auto !important;
					    }
					    > li {
					    	a {
					    		&:hover {
									background-color: rgba($secondary-color, $B-dividers);
								}
					    	}
					    }
					}
				}
			}
		}
	}
	.side-content {
		background-color: $off-white;
	}
	.page-lead {
		.h1,
		.h2,
		.h3,
		.h4,
		.h5,
		.h6 {
			line-height: 1.2em;
		}
		.button, .button-align {
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
		}
		.button-align {
			.button {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
	.panel {
		.panel-heading {
			border-right: 1px solid rgba($black, $B-dividers);
			.h6 {
				color: $medium-gray;
			}
		}
	}
}

.offcanvas-trigger {
	position: fixed;
	z-index: 20;
	bottom: 1rem;
	right: 1rem;
	background-color: $success-color;
	display: inline-block;
	width: 3.125rem;
	height: 3.125rem;
	-moz-border-radius: 3.125rem;
	-webkit-border-radius: 3.125rem;
	border-radius: 3.125rem;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.21);
	color: #fff;
	i.fa {
		color: $white;
		font-size: 1.7rem;
		line-height: 1.8em;
		vertical-align: middle;
	}
	&:hover {
		background-color: darken($success-color, 5%);
	}
}

.offcanvas-trigger-group {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	.offcanvas-trigger {
		position: relative;
		display: inline-block;
		margin: 0 0.5rem;
	}
}

.message-status {
	> ul {
		margin: 0;
		padding: 0 24%;
		text-transform: uppercase;
	}
}

// COMMUNICATION //
.inbound, .outbound {
	img {
		max-width: 2.62rem;
		width: 100%;
	}
	small {
		font-size: 0.7rem;
	}
	.panel {
		border-color: transparent;
	}
}

// Power Tour Overrides

#powertour-mask {
	// background-color: rgba(10,16,35,0.54);
	background-color: $white;
	opacity: 0.95;
}

.powertour-step {
	.close-button {
		display: none;
		position: absolute;
		top: -1rem;
		right: -1rem;
		color: rgba($black, $B-hinttext);
		&:hover {
			color: rgba($black, $B-subtext);
		}
	}
	&.powertour-activestep {
		.close-button {
			display: inline-block;
		}
	}
}

.connectordot-tl {
	height: 135px;
	top: -75px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

.connectordot-lt {
	width: 300px;
	left: -255px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

#stepThree {
	.connectordot-lm {
		width: 280px;
		left: -255px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepFour {
	.connectordot-lm {
		width: 165px;
		left: -142px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepFive {
	.connectordot-lm {
		width: 65px;
		left: -42px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

.connectordot-bl {
	height: 30px;
	bottom: -30px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

.sticky {
	position: relative;
	&.is-anchored {
		position: relative;
	}
}