.red {

}

section.provider {
	position: relative;
    background: transparent url(https://s3.amazonaws.com/assets.spoke.com/images/breather.jpg) center center no-repeat;
    background-size: cover;
}