.chat-support, .chat-area {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.21);
}

.offcanvas-area {
	width: 30rem;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	border-radius: 0;
	background-color: $white;
	// border-left: 1px solid rgba($black, $B-dividers);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	// overflow-y: scroll;
	.offcanvas-area-inner {
		position: relative;
		width: auto;
		height: auto;
	}
	.offcanvas-header {
		position: absolute;
		z-index: 5;
		top: 0;
		width: 100%;
		padding: 0.5rem 1rem;
		background-color: $primary-color;
		color: $white;
		.btn-close {
			position: relative;
			z-index: 6;
			color: $white;
			font-weight: $global-weight-bold;
		}
	}
	.offcanvas-body {
		padding: 3rem 1rem 0.5rem;
		position: relative;
		overflow-y: scroll;
	}
}

.offcanvas-trigger {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background-color: $success-color;
	display: inline-block;
	width: 3.125rem;
	height: 3.125rem;
	-moz-border-radius: 3.125rem;
	-webkit-border-radius: 3.125rem;
	border-radius: 3.125rem;
	text-align: center;
	vertical-align: middle;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.21);
	color: #fff;
	i.fa {
		color: $white;
		font-size: 1.7rem;
		line-height: 1.8em;
		vertical-align: middle;
	}
	&:hover {
		background-color: darken($success-color, 5%);
	}
}

.offcanvas-trigger-group {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	.offcanvas-trigger {
		position: relative;
		display: inline-block;
		margin: 0 0.5rem;
	}
}

.message-status {
	> ul {
		margin: 0;
		padding: 0 24%;
		text-transform: uppercase;
	}
}

// COMMUNICATION //
.inbound, .outbound {
	img {
		max-width: 2.62rem;
		width: 100%;
	}
	small {
		font-size: 0.7rem;
	}
	.panel {
		border-color: transparent;
	}
}

// Power Tour Overrides

#powertour-mask {
	// background-color: rgba(10,16,35,0.54);
	background-color: $white;
	opacity: 0.95;
}

.powertour-step {
	.close-button {
		display: none;
		position: absolute;
		top: -1rem;
		right: -1rem;
		color: rgba($black, $B-hinttext);
		&:hover {
			color: rgba($black, $B-subtext);
		}
	}
	&.powertour-activestep {
		.close-button {
			display: inline-block;
		}
	}
}

.connectordot-tl {
	height: 135px;
	top: -75px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

.connectordot-lt {
	width: 300px;
	left: -255px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}

#stepThree {
	.connectordot-lm {
		width: 280px;
		left: -255px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepFour {
	.connectordot-lm {
		width: 165px;
		left: -142px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

#stepFive {
	.connectordot-lm {
		width: 65px;
		left: -42px;
		background-color: $warning-color;
		&:before {
			background-color: $white;
			border: 2px solid $warning-color;
		}
	}
}

.connectordot-bl {
	height: 30px;
	bottom: -30px;
	background-color: $warning-color;
	&:before {
		background-color: $white;
		border: 2px solid $warning-color;
	}
}