.pagination{
	margin: 4rem 0;
	a, .button {
		border-radius: 2px;
		padding: .1875rem .625rem;
	}
	.current, .active {
		border-radius: 2px;
		background: $primary-color;
		cursor: default;
		padding: 0;
		a, .button {
			color: $white;
			&:hover {
				background: transparent;
			}
		}
	}
	.previous, .next {
		text-transform: capitalize;
	}
}