.pagination{
	margin: 4rem 0;
	a,
	span,
	.button {
		display: inline-block;
		border-radius: 2px;
		padding: .1875rem .625rem;
	}
	.current, .active {
		border-radius: 2px;
		background: $primary-color;
		cursor: default;
		padding: .1875rem .625rem;
		a,
		span,
		.button {
			color: $white;
			&:hover {
				background: transparent;
			}
		}
	}
	.previous, .next {
		text-transform: capitalize;
	}
}