.pagination{
	margin: 4rem 0;
	.current, .active {
		border-radius: 2px;
		background: $primary-color;
		cursor: default;
		a, .button {
			color: $white;
		}
	}
	.previous, .next {
		text-transform: capitalize;
	}
}