.panel {
	margin-bottom: 1rem;
	background: $white;
	border: 1px solid rgba($black, $B-dividers);
	border-radius: 2px;
	.panel-heading,
	.panel-body,
	.panel-footer {
		padding: 1rem;
		&.sub-panel {
			background-color: $background-white;
			> * {
				color: rgba($black, $B-subtext);
			}
		}
	}
	.panel-heading {
		border-bottom: 1px solid rgba($black, $B-dividers);
		p,
		span, 
		.input-group,
		.button {
			margin-bottom: 0;
		}
		.media-object {
			margin: 0;
		}
	}
	.panel-body {
		&:not(:last-child) {
			border-bottom: 1px solid rgba($black, $B-dividers);
		}
		.media-object {
			margin-top: 0;
		}
	}
	.panel-footer {
		.button {
			margin: 0;
		}
		.media-object {
			margin: 0;
		}
	}	
	&.collapsible {
		.panel-body {
			display: none;
			background-color: rgba($dark-gray, $B-dividers);
		}
	}
	&.primary {
		border: 1px solid lighten($primary-color, 64%);
	}
}

// This is used for the dates on the activity log
p.date-bind {
	position: relative;
    display: inline-block;
    padding: 10px 0;
    width: 7rem;
    background: $secondary-color;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1em;
    border-radius: 1.875rem;
    font-weight: $global-weight-bold;
    &:after {
    	position: absolute;
    	content: "";
    	bottom: -1rem;
    	left: 1rem;
    	height: 1rem;
    	width: 1px;
    	background-color: rgba($black, $B-hinttext);
    }
}
