.panel {
	background: $white;
	border: 1px solid rgba($black, $B-dividers);
	border-radius: 2px;
	.panel-heading {
		padding: 30px 15px;
		.input-group, .button {
			margin-bottom: 0;
		}
	}
	.panel-body {
		display: none;
		padding: 15px;
	}
	&.collapsible {
		.panel-body {
			background-color: rgba($dark-gray, $B-dividers);
		}
	}
}
