.marker {
  position: relative;

  &.primary, &.secondary, &.success, &.warning, &.alert {
    &:after {
      border-radius: 10rem;
      content: " ";
      width: 1rem;
      height: 1rem;
      position: absolute;
      right: .5rem;
      top: 1.2rem;
      // left: -.5rem;
    }
  }

  &.marker-pos-top-right {
    &:after {
      right: 0rem;
      top: 0rem;
      border-top: 7px solid;
      border-right: 7px solid;
      border-bottom: 7px solid transparent !important;
      border-left: 7px solid transparent !important;
    }
  }

  &.marker-pos-top-left {
    &:after {
      left: 0rem;
      top: 0rem;
      border-top: 7px solid;
      border-left: 7px solid;
      border-bottom: 7px solid transparent !important;
      border-right: 7px solid transparent !important;
    }
  }
  &.marker-both {
  	&:after {
      left: 0rem;
      top: 0rem;
      border-top: 7px solid rgba($warning-color, .5);
      border-left: 7px solid rgba($warning-color, .5);
      border-bottom: 7px solid rgba($secondary-color, .5) !important;
      border-right: 7px solid rgba($secondary-color, .5) !important;
    }
  }

  &.marker-pos-top-right, &.marker-pos-top-left {
    &:after {
      width: 0px !important;
      height: 0px !important;
      background-color: transparent !important;
      border-radius: 0px;
    }

    &.primary {
      &:after {
        border-color: rgba($primary-color, .5);
      }
    }

    &.secondary {
      &:after {
        border-color: rgba($secondary-color, .5);
      }
    }

    &.success {
      &:after {
        border-color: rgba($success-color, .5);
      }
    }

    &.warning {
      &:after {
        border-color: rgba($warning-color, .5);
      }
    }

    &.alert {
      &:after {
        border-color: rgba($alert-color, .5);
      }
    }
  }


  &.primary {
    &:after {
      background-color: rgba($primary-color, .5);
    }
  }

  &.secondary {
    &:after {
      background-color: rgba($secondary-color, .5);
    }
  }

  &.success {
    &:after {
      background-color: rgba($success-color, .5);
    }
  }

  &.warning {
    &:after {
      background-color: rgba($warning-color, .5);
    }
  }

  &.alert {
    &:after {
      background-color: rgba($alert-color, .5);
    }
  }
}

.handoff {
  position: relative !important;

  &::after {
    font-family: "Font Awesome 5 free";
    content: "\f2b5";
    line-height: 1.23rem;
    padding: .5rem .25rem;
    font-size: 1.25rem;
    width: 2rem;
    height: 2rem;
    background-color: $success-color;
    position: absolute;
    top: -19px;
    left: 50%;
    border-radius: 50%;
    border: 1px solid $success-color;
    color: #fff;
    z-index: 999;
  }

  &.handoff-alert {
    &:before {
      background-color: $alert-color !important;
      border: 1px solid $alert-color !important;
    }
  }

  &.handoff-warning {
    &:before {
      background-color: $warning-color !important;
      border: 1px solid $warning-color !important;
    }
  }

  &.handoff-success {
    &:before {
      background-color: $success-color !important;
      border: 1px solid $success-color !important;
    }
  }

  &.handoff-secondary {
    &:before {
      background-color: $secondary-color !important;
      border: 1px solid $secondary-color !important;
    }
  }

  &.handoff-primary {
    &:before {
      background-color: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
  }
}


.show-edit-hover, .show-close-hover, .show-remove-hover {
  position: relative;

  &:after {
    opacity: 0;
    font-family: FontAwesome;
    padding-left: .3rem;
    position: absolute;
    width: fit-content;
    height: 1.4rem;
    width: 1.35rem;

    background-color: lighten($alert-color, 25%);
    color: #fff;
    top: .75rem;
    right: -.9rem;
    cursor: pointer;
    border-radius: 5rem;
    transition: all .5s;
  }

  &:hover {
    &:after {
      transition: all .5s;
      opacity: 1;
    }
  }

}

.show-edit-hover {
  &:after { content: "\f044"; }
}

.show-close-hover {
  &:after { content: "\f00d"; }
}

.show-remove-hover {
  &:after { content: "\f068"; }
}

// .pain-intensity-compact {
// 	position: relative;
// 	overflow: visible;
// 	&.top-left {
// 		&:after {
// 			top: -.25rem;
// 			left: -.25rem;
// 		}
// 	}
// 	&.top-right {
// 		&:after {
// 			top: -.25rem;
// 			right: -.25rem;
// 		}
// 	}
// 	&.bottom-left {
// 		&:after {
// 			bottom: -.25rem;
// 			left: -.25rem;
// 		}
// 	}
// 	&.bottom-right {
// 		&:after {
// 			bottom: -25rem;
// 			right: .25rem;
// 		}
// 	}
// 	&:after {
// 		position: absolute;
// 		bottom: -.25rem;
// 		right: -.25rem;
// 		width: 1.25rem;
// 		height: 1.25rem;
// 		border-radius: 5rem;
// 		font-size: 12px;
// 		line-height: 1.25rem;
// 		color: #fff;
// 	}
// 	&.pain1 { 
// 		&:after {
// 			content: "1";
// 			background-color: $pain1;
// 		}
// 	}
// 	&.pain2 { 
// 		&:after {
// 			content: "2"; 
// 			background-color: $pain1;
// 		}
// 	}
// 	&.pain3 { 
// 		&:after {
// 			content: "3";
// 			background-color: $pain2;
// 		}
// 	}
// 	&.pain4 { 
// 		&:after {
// 			content: "4";
// 			background-color: $pain2;
// 		}
// 	}
// 	&.pain5 { 
// 		&:after {
// 			content: "5"; 
// 			background-color: $pain3;
// 			color: #404040;
// 		}
// 	}
// 	&.pain6 { 
// 		&:after {
// 			content: "6"; 
// 			background-color: $pain3;
// 			color: #404040;
// 		}
// 	}
// 	&.pain7 { 
// 		&:after {
// 			content: "7";
// 			background-color: $pain4;
// 		}
// 	}
// 	&.pain8 { 
// 		&:after {
// 			content: "8";
// 			background-color: $pain4; 
// 		}
// 	}
// 	&.pain9 {
// 		&:after { 
// 			content: "9";
// 			background-color: $pain5; 
// 		}
// 	}
// 	&.pain10 { 
// 		&:after {
// 			content: "10";
// 			background-color: $pain5; 
// 		}
// 	}

// }