table {
	font-family: $header-font-family;
	font-size: 0.875rem;
	table-layout: fixed;
	thead {
		th {
			padding: 0.875rem 1rem 0.875rem;
		}
	}
	tbody {
		td {
			padding: 0.875rem 1rem 0.875rem;
		}
	}
}