table {
	font-family: $body-font-family;
	font-size: 0.875rem;
	table-layout: fixed;
	[type='text'],
	[type='password'],
	[type='date'],
	[type='datetime'],
	[type='datetime-local'],
	[type='month'],
	[type='week'],
	[type='email'],
	[type='number'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='url'],
	[type='color'],
	.input-group {
		margin-bottom: 0;
	}
	thead {
		background: transparent;
		border: none;
		color: rgba($black, $B-subtext);
		text-transform: uppercase;
		font-size: 0.75rem;
		th {
			padding: 0 1rem 0.875rem;
			a {
				color: rgba($black, $B-subtext);
			}
		}
	}
	tbody {
		border-radius: 2px;
		border: 1px solid $light-gray;
		tr {
			&:nth-child(even) {
				background-color: $primary-light;
			}
		}
		td {
			padding: 1rem;
			a {
				color: rgba($black, $B-text);
			}
			.action-link {
				margin-bottom: 0;
			}
			.media-object {
				margin: 0;
			}
			.button-group,
			.button-align,
			.button {
				margin-bottom: 0;
			}
		}
	}
	&.single-spacing {
		thead {
			th {
				&:first-child {
					width: 70%;
				}
				&:nth-child(2) {
					width: 30%;
				}
			}
		}
		tbody {
			td {
				&:first-child {
					width: 80%;
				}
				&:nth-child(2) {
					width: 20%;
				}
			}
		}
	}
	&.base-spacing {
		thead, tbody {
			th {
				&:first-child {
					width: 40%;
				}
				&:nth-child(2) {
					width: 40%;
				}
			}
		}
	}
	&.thirds-spacing {
		thead, tbody {
			th {
				&:first-child {
					width: 30%;
				}
				&:nth-child(2) {
					width: 30%;
				}
				&:nth-child(3) {
					width: 20%;
				}
			}
		}
	}
	.media-object-section {
		p,
		a,
		span {
			word-break: break-all;
		}
	}
}

select.table-control {
    padding: 0 1.5rem 0 0.8rem;
    vertical-align: middle;
    width: 60%;
    margin: 0 0.275rem 0 0;
    height: 2.2rem;
    display: inline-block;
    font-size: 0.875rem;
    font-weight: normal;
}

.button.table-control {
	display: inline-block;
    padding: 0.85em 0.5em;
    margin: 0;
    width: 33%;
}