table {
	font-family: $header-font-family;
	font-size: 0.875rem;
	table-layout: fixed;
	thead {
		background: transparent;
		border: none;
		color: rgba($black, $B-subtext);
		text-transform: uppercase;
		font-size: 0.75rem;
		th {
			a {
				color: rgba($black, $B-subtext);
			}
			padding: 0.875rem 1rem 0.875rem;
		}
	}
	tbody {
		border-radius: 2px;
		td {
			padding: 0.875rem 1rem 0.875rem;
			.button {
				margin-bottom: 0;
			}
		}
	}
	&.base-spacing {
		thead {
			th {
				&:first-child {
					width: 40%;
				}
				&:nth-child(2) {
					width: 40%;
				}
			}
		}
	}
}