.tabs, .tabs-link {
	margin: 0 0 1rem;
	font-weight: $global-weight-semibold;
	font-family: $header-font-family;
	border: none;
	li {
		list-style: none;
		display: inline-block;
		justify-content: center;
		text-decoration: none;
		&.is-active {
			border-bottom:0.2rem solid #FD0000;
		}
		&.tabs-title a{
			transition: 0.1s;
			color: rgba($black, $B-text);
			background-color: transparent !important;
		}
	}
}

.tabs-content{
	border: 0rem !important;
	background-color: transparent !important;
}

div.overview {
	margin-bottom: 1.5rem;
}

.tabs-panel, .tabs-content {
	background-color: transparent !important;
	.page-lead {
		margin: 1rem 0;
	}
}
