.top-bar {
	background-color: $white;
	padding: 1rem 0;
	border-bottom: none;
	ul {
		background-color: transparent;
		&.is-dropdown-submenu {
			background: $white;
			> li {
				background: rgba($black, $B-dividers);
			}
		}
	}
}

.menu-text {
	font-weight: normal;
}
