.top-bar {
  background-color: $white;
  padding: 1rem 0;
  border-bottom: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input {
    margin: 0;
    max-width: inherit;
  }

  .top-bar-title,
  .top-bar-right,
  .top-bar-left {
    max-width: 100%;
    flex: 1 1 auto;
  }

  .top-bar-right {
    display: flex;
    flex: 0 1 auto;

    > .menu {
      background-color: transparent;
    }
  }

  .top-bar-left {
    .input-group {
      margin: 0;
      padding: 0 1rem;
      width: 66%;
    }
  }
}

.menu-text {
  font-weight: normal;
}
