@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
	font-size: 1rem;
}

strong, b {
	font-weight: $global-weight-semibold;
}

i {
	font-weight: 400;
}

small {
	line-height: 1.5em;
}

.underline {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&.subheader {
		font-weight: $global-weight-semibold;
	}
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $header-font-family;
	font-weight: 600;
	line-height: 1.2em;
}

.h1 {
	font-size: 4.1875rem;
}

.h2 {
	font-size: 3.125rem;
}

.h3 {
	font-size: 2.3125rem;
}

.h4 {
	font-size: 1.75rem;
}

.h5 {
	font-size: 1.3125rem;
}

.h6 {
	font-size: 1rem;
}

.primary-color {
	color: $primary-color;
	> * {
		color: $primary-color;
	}
}

.success-color {
	color: $success-color;
	> * {
		color: $success-color;
	}
}

.subheader {
	margin-top: 0;
	color: rgba($black, $B-subtext);
	font-weight: inherit;
}