@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.material-icons {
	font-size: 1rem;
}

strong, b {
	font-weight: 500;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $header-font-family;
	font-weight: 600;
	line-height: 1.2em;
}

.h1 {
	font-size: 4.1875rem;
}

.h2 {
	font-size: 3.125rem;
}

.h3 {
	font-size: 2.3125rem;
}

.h4 {
	font-size: 1.75rem;
}

.h5 {
	font-size: 1.3125rem;
}

.h6 {
	font-size: 1rem;
}

.subheader {
	color: rgba($black, $B-subtext);
}