.inline-child * { display:inline; }

.inline-block { display:inline-block; }

.ml-1 { margin-left: 1rem; }
.ml-1-5 { margin-left: 1.5rem; }
.ml-2 { margin-left: 2rem; }

.mt-1 { margin-top: 1rem; }
.mt-0-5 { margin-top: 0.5rem; }
.mt-2 { margin-top: 2rem; }
.mt-4 { margin-top: 4rem; }

.mb-1 { margin-bottom: 1rem; }
.mb-0-5 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 4rem; }

.pl-0 { padding-left: 0rem; }
.pl-1 { padding-left: 1rem; }

.pr-0 { padding-right: 0rem; }
.pr-1 { padding-right: 1rem; }

.pb-0 { padding-bottom: 0rem !important; }
.pb-1 { padding-bottom: 1rem; }


.hidden { display:none; }

.b-notop-1 { 
	border: solid 0.1rem $primary-light;
	border-top: 0rem;
}

.disabled {
	pointer-events: none;
	opacity: 0.25;
}

.truncate {
	margin: 0;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-align-center {
	display: flex;
	align-items:center;
}