.inline-child * { display:inline; }

.inline-block { display:inline-block; }

.mr-1 {margin-right: 1rem;}
.ml-1 { margin-left: 1rem; }
.ml-1-5 { margin-left: 1.5rem; }
.ml-2 { margin-left: 2rem; }
.ml-2-5 { margin-left: 2.5rem; }
.ml-3 { margin-left: 3rem; }

.mt-0 { margin-top: 0; }
.mt-1 { margin-top: 1rem; }
.mt-0-5 { margin-top: 0.5rem; }
.mt-2 { margin-top: 2rem; }
.mt-4 { margin-top: 4rem; }
.mt-6 { margin-top: 6rem; }

.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1rem; }
.mb-0-5 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-4 { margin-bottom: 4rem; }
.mb-6 { margin-bottom: 6rem; }

.pl-0 { padding-left: 0rem; }
.pl-1 { padding-left: 1rem; }

.pr-0 { padding-right: 0rem; }
.pr-1 { padding-right: 1rem; }

.pb-0 { padding-bottom: 0rem !important; }
.pb-1 { padding-bottom: 1rem; }
.pb-0-5 { padding-bottom: 0.5rem; }
.pr-0-5 { padding-right: 0.5rem; }

.pt-1 { padding-top: 1rem; }
.pt-0-5 { padding-top: 0.5rem; }
.pt-0-7 { padding-top: 0.7rem; }

.pad1 { padding: 1rem; }
.pad2 { padding: 2rem; }
.mar1 { margin: 1rem; }

.hidden { display:none; }

.b-notop-1 { 
	border: solid 0.1rem $primary-light;
	border-top: 0rem;
}

.b-top-1-darker { border-top: 1px solid rgba($black, $B-dividers); }

.b-top-1 { border-top: solid 0.1rem $primary-light; }

.b-all-1 { border: solid 0.1rem $primary-light; }

.b-left-1 { border-left: solid 0.1rem $primary-light; }

.b-all-1 { border: solid 0.1rem $primary-light}

.disabled {
	pointer-events: none;
	opacity: 0.25;
}

.truncate {
	margin: 0;
	display: block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-align-center {
	display: flex;
	align-items:center;
}

.circle { 
	border-radius: 100%; 
	overflow: hidden;
}

.marginless {
	margin: 0;
}